.Boo {
        
        column-gap: 3em;
        column-rule: 5px solid lightgreen;
        column-count: 3;
        column-width: 200px;
        color: white;
background-color: black;
text-align: justify;
}
        p {
        margin-top: 5px;
        
}

.Test2 {
    columns: 3200 px;
    column-gap: 3em;
    column-rule: 1px solid blue;
    column-count: 4;
    column-width: 250px;
    text-align: justify;
    word-spacing: 5px;
    text-indent: 20px;
    color: blue;
    text-shadow: pink 5px 5px 3px;
    font-family: "Sofia", sans-serif;
}


p {
    margin-top: 10px; 
}



img  {
    width: 100%;
    }
    
body {
background-color: rgba(246, 223, 160, 0.848);
}

h1 {
font-size: 60 px;
text-align: center;
letter-spacing: 5px;
text-shadow: 5px 2px 10px green;
font-family: "Lucida Console", "Courier New", monospace;
font-weight: 600;
}
  
  h3 {
    text-align: right;
  }

  h4 {
    text-align-last: center;
  }

  .ab {
    direction: rtl;
    unicode-bidi: bidi-override;
    text-transform: uppercase;
 }

 .e {
    vertical-align: super;
    width: 100%;
 }

 .abc {
    text-transform: capitalize;
 }


 .Test{
text-shadow: greenyellow 1px 1px;
text-transform: capitalize;
word-spacing: 3px;
font-family: 'Noto Sans TC', sans-serif;
 }

 .m{
    text-align: justify;
 }
 .mm{
    width: 75%
}

.mn{
width: 100%
}

.ml{
 width: 50%;
 position: left;
}